<h1 class="ui center aligned  icon header">
    <i class="circular orange talk icon"></i>
    Let's Chat!
</h1>

<div class="ui grid">
    <div class="twelve wide column">
        <div class="ui card fluid raised chat">
            <div class="content">
                <div class="ui feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <em>Stevie Feliciano</em>: Good Morning Everyone.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <em>Helen Troy</em>: Hello, there!
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <em>Christian Rocha</em>: signed up for the site.
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                        <div class="ui fluid icon input">
                            <input type="text" placeholder="Enter your message">
                            <i class="bordered inverted orange edit icon "></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui card fluid raised chat">
            <div class="content">
                <div class="ui inverted vertical menu">
                    <a class="active item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>